@font-face {
    font-family: "Josefin Sans SemiBold";
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: "Josefin Sans Light";
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: "Aleo Regular";
    src: url('../assets/fonts/Aleo/aleo-regular-webfont.woff2');
}