@mixin centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin background-image ($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: auto;
}

@mixin josefin-semibold ($font_size, $letter_spacing, $line_height) {
    font-family: "Josefin Sans SemiBold";
    font-size: $font_size;
    letter-spacing: $letter_spacing;
    line-height: $line_height;
    color: $white;
    text-align: center;
    text-transform: uppercase;
}

@mixin josefin-light ($font_size, $letter_spacing, $line_height) {
    font-family: "Josefin Sans Light";
    font-size: $font_size;
    letter-spacing: $letter_spacing;
    line-height: $line_height;
    color: $white;
    text-align: center;
    text-transform: capitalize;
}

@mixin aleo-regular ($font_size, $letter_spacing, $line_height) {
    font-family: "Aleo Regular";
    font-size: $font_size;
    letter-spacing: $letter_spacing;
    line-height: $line_height;
    color: $white;
    text-align: center;
    text-transform: uppercase;
}

@mixin flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@mixin info-block-background {
    background-color: $grey;
}

@mixin booking-info-block {
    @include info-block-background;
    padding: 45px 30px;
    margin-top: 230px;
    height: 370px;

    p:nth-of-type(1) {
        @include josefin-light(18px, 0, 26px);
        text-transform: none;
        text-align: left;
        color: $whiter;
        margin-bottom: 25px;
        @media screen and (max-width: 767px) {
            @include centered;
        }
    }

    p:nth-of-type(2) {
        @include josefin-light(14px, 0, 26px);
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: left;
        @media screen and (max-width: 767px) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    p:nth-of-type(3) {
        @include josefin-light(14px, 0, 26px);
        text-align: left;
        text-transform: none;
        color: $whiter;
        margin-bottom: 40px;
        
        @media screen and (max-width: 767px) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
    @media screen and (max-width: 1366px) {
        @include centered;
    }
    
    @media screen and (max-width: 575px) {
        height: 430px;
    }
}

